@font-face {
    font-family: "rye";
    src: url("./assets/fonts/rye.ttf") format("truetype");
}

* {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color: inherit;
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/img/0_project-images/desert-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100dvh;
    font-family: "rye", Arial, Helvetica, sans-serif;
}
