* {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color: inherit;
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    width: 720px;
    height: 480px;
    background-color: black;
}
