@font-face {
    font-family: "rye";
    src: url("./assets/fonts/rye.ttf") format("truetype");
}

* {
    position: relative;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color: inherit;
    font-family: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/img/0_project-images/desert-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: "rye", Arial, Helvetica, sans-serif;
}

.logo-main {
    margin: 40px;
    max-width: 400px;
}

.mainContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 728px;
    max-height: 488px;
    margin: auto 0;
    background-color: black;
    border: 4px solid #de5e37e8;
    border-radius: 0 20px;
    box-shadow: 4px 4px 8px #de5e37;
    overflow: hidden;
}

canvas {
    display: none;
    background-color: black;
    border-radius: 0 20px;
}

.startScreen {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 720px;
    max-height: 480px;
    z-index: 2;
}

.startScreenImage {
    height: 100%;
    width: 100%;
}

.endScreenImage {
    width: 100%;
    height: 80%;
    margin: auto 0;
}

.endScreen {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 720px;
    max-height: 480px;
    z-index: 2;

    transition: opacity 0.4s ease, transform 0.4s ease;
}

.endScreen.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.endScreen.invisible {
    display: none;
}

.endscreenInner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    max-width: 80%;
    max-height: 80%;
}

.endscreenInner img {
    max-width: 80%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #8b4513;
    border-radius: 10px;
    background-color: #ffca00;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 #8b4513;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    scale: 1.1;
    background-color: #ffe063;
}

.button img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
}

.topButtons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.bottomButtons {
    position: absolute;
    display: flex;
    gap: 16px;
    justify-content: center;
    bottom: 0;
    padding-bottom: 0;
    padding-left: 140px;
    width: 100%;
}

.buttonsLeft,
.buttonsRight {
    display: flex;
    gap: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    opacity: 0; /* Start transparent */
    pointer-events: none; /* Nicht anklickbar, wenn unsichtbar */
    transition: opacity 0.3s ease;
}
.overlay.visible {
    opacity: 1; /* Fade-In */
    pointer-events: auto; /* Klickbar */
}
.overlay.invisible {
    display: none; /* Erst nach Fade-Out */
}

.overlayContent {
    display: flex;
    flex-direction: column;
    gap: 28px;
    background: #f9ecd4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
}

.overlayContent .button {
    width: 50%;
    margin: auto;
}

.dFlexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hidden {
    display: none;
    opacity: 0;
}

.controlIcon {
    height: 56px;
    width: 56px;
}

.controlKeys {
    display: flex;
}

.fullscreenNotice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 28px;
}

.mobileButtons {
    display: none;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
}

.mobileButtons div img {
    cursor: pointer;
}

.mobileButton {
    border:unset;
    background-color: inherit;
    padding: 0;
}

@media screen and (orientation: portrait) and (max-width: 900px) {
    .fullscreenNotice {
        display: flex;
    }

    .logo-main,
    .mainContainer,
    .startScreen,
    canvas,
    .endScreen,
    .overlay {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .mobileButtons {
        display: flex;
    }

    .logo-main {
        display: none;
    }

    body {
        justify-content: center;
        height: 100dvh;
    }
}

@media only screen and (max-width: 720px) {
    .mainContainer {
        width: 100%;
    }

    canvas {
        width: 100%;
    }

    .logo-main {
        display: none;
    }

    .startScreenImage {
        height: 100%;
        width: 100%;
    }

    .button {
        padding: 4px 8px;
        font-size: 16px;
    }

    .mobileButtons {
        padding: 0 8px;
    }
}

@media only screen and (max-height: 480px) {
    .mainContainer {
        height: 100vh;
    }

    canvas {
        height: 100vh;
    }

    .mobileButtons div img {
        width: 40px;
        height: 40px;
    }
}
