@media screen and (orientation: portrait) and (max-width: 1000px) {
    .fullscreenNotice {
        display: flex;
    }

    .logo-main,
    .mainContainer,
    .startScreen,
    canvas,
    .endScreen,
    .overlay {
        display: none !important;
    }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
    .mobileButtons {
        display: flex;
    }

    .gameplaySoundButton {
        width: 40px;
        height: 40px;
        bottom: 6px;
        opacity: 0.6;
    }
}

@media (max-width: 800px) {
    .gameplaySoundButton {
        left: 50%;
        right: auto;
        bottom: 12px;
        padding: 6px 10px;
        transform: translateX(-50%);
    }

    .gameplaySoundButton img {
        width: 20px;
        height: 20px;
    }

    .logo-main {
        display: none;
    }

    body {
        justify-content: center;
        height: 100dvh;
    }
}

@media only screen and (max-width: 740px) {
    .mainContainer {
        width: 97%;
        min-width: auto;
        aspect-ratio: 3 / 2;
    }

    canvas {
        width: 100%;
    }

    .button {
        padding: 4px 8px;
        font-size: 16px;
    }

    .mobileButtons {
        padding: 0 8px;
    }

    .logo-main {
        display: none;
    }
}

@media only screen and (max-height: 740px) {
    .logo-main {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    .mainContainer {
        height: 97dvh;
        width:auto;
        min-width: auto;
        max-width: 97dvw;
        aspect-ratio: 3 / 2!important;
    }

    .button {
        padding: 4px 8px;
        font-size: 16px;
    }
}
